{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center py-5">
  <h1 class="display-4" style="font-weight: 600;color:#AE1C9A">Hello, {{ request.user.first_name }}!</h1>
  <h2 class="lead" style="font-size: medium;">Your account is not approved yet.</h2>
  
  <div class="alert alert-info mt-4" role="alert">
    <strong>We're reviewing your profile.</strong> You will be notified once your account is confirmed.
  </div>

  <hr class="my-4">

  <p class="text-muted">Please check back later for updates.</p>

  <p class="lead">
    <a class="btn btn-outline-primary btn-lg mt-3" href="{% url 'handel_logout' %}" role="button">Logout For Now</a>
  </p>
</div>
<br>
<br>
<br>
{% endblock %}
