{% extends 'base.html' %}
{% load static %}
{% block content%}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-lg-6 col-xs-12">
                <section class="login account footer-padding">
                    <div class="container">
                      
                        <div class="login-section account-section">
                            <div class="review-form">
                           
                                <h5 class="comment-title">Create Account</h5>
                                <div class="review-form-name">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" id="username" class="form-control" placeholder="Username" name="username" value="{{ profile.user.username }}">
                                </div>
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="email" class="form-label">Email*</label>
                                        <input type="email" id="email" class="form-control" placeholder="user@gmail.com" name="email" value="{{ profile.user.email }}">
                                    </div>
                                </div>
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="Address" class="form-label">City</label>
                                        <input type="text" id="Address" class="form-control" placeholder="city" name="city" value="{{ profile.city }}">
                                    </div>
                                </div>
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="Address" class="form-label">State</label>
                                        <input type="text" id="Address" class="form-control" placeholder="state" name="state" value="{{ profile.state }}">
                                    </div>
                                </div>
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="Address" class="form-label">Zipcode</label>
                                        <input type="text" id="Address" class="form-control" placeholder="postal_code" name="postal_code" value="{{ profile.postal_code }}">
                                    </div>
                                </div>
                                
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="vehicle_number" class="form-label">vehicle_number</label>
                                        <input type="text" id="vehicle_number" class="form-control" placeholder="vehicle_number" name="vehicle_number" value="{{ profile.vehicle_number }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </section>
            </div>
            <div class="col-md-3 col-sm-4 col-lg-6 col-xs-12">
                <section class="login account footer-padding">
                    <div class="container">
                        
                        <div class="login-section account-section">
                            <div class="review-form">
                                <div class="review-form-name">
                                    <label for="First name" class="form-label">First Name</label>
                                    <input type="text" id="First name" class="form-control" placeholder="First name" name="first_name" value="{{ profile.user.first_name }}">
                                </div>
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="Last name" class="form-label">Last Name</label>
                                        <input type="text" id="email" class="form-control" placeholder="Last name" name="last_name" value="{{ profile.user.last_name }}">
                                    </div>
                                </div>
                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="Phone Number" class="form-label">Phone Number</label>
                                        <input type="text" id="phone number" class="form-control" placeholder="Phone Number" name="phone_number" value="{{ profile.phone_number }}">
                                    </div>
                                </div>

                                <div class=" account-inner-form">
                                    <div class="review-form-name">
                                        <label for="Address" class="form-label">Address</label>
                                        <input type="text" id="Address" class="form-control" placeholder="Address" name="address" value="{{ profile.address }}">
                                    </div>
                                </div>
                                
                                
                                <div class="review-form-name">
                                    <label for="password" class="form-label">upload photo</label>
                                    <input type="file" id="password" class="form-control" placeholder="" name="profile_pic" >
                                </div>
                                <br>
                                <div class="review-form-name">
                                    <label for="gender" class="form-label">gender</label>

                                    <select id="gender" name="gender" required class="form-control">
                                        <option value="M" {% if profile.gender == 'M' %}selected{% endif %}>Male</option>
                                        <option value="F" {% if profile.gender == 'F' %}selected{% endif %}>Female</option>
                                        <option value="O" {% if profile.gender == 'O' %}selected{% endif %}>Other</option>
                                    </select><br><br>
                            
                                </div>
                          

                                <div class="review-form-name checkbox">
                                    <div class="checkbox-item">
                                        <input type="checkbox">
                                        <p class="remember">
                                            I agree all terms and condition in <span class="inner-text">ShopUs.</span></p>
                                    </div>
                                </div>
                                <div class="login-btn text-center">
                                    <input type="submit"  class="shop-btn" value="Update  Account">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </section>
            </div>

        </div>
    </div>
</form>

<br>
<br>

{% endblock %}
<style>
    .login {
        background: url("static/assets/images/homepage-one/login-bg.webp") no-repeat center / cover;
    }
</style>
    <script>
        $('.alert .close').on('click', function() {
            $(this).parent().fadeOut('slow');
        });
</script>