{% extends 'base.html' %}
{% load static %}
{% block content%}
<section class="login footer-padding">
    <div class="container">
        
        <div class="login-section">
            <div class="review-form">
                <form action="" method="post">
                    {% csrf_token %}
                <h5 class="comment-title">Rest your password</h5>
                <div class="review-inner-form ">
                    
                    <div class="review-form-name">
                        <label for="password" class="form-label">Password*</label>
                        <input type="password" id="password" class="form-control" placeholder="enter new password" name="password">
                    </div>
                    <div class="login-btn text-center">
                        <input type="submit" value="Rest Password" class="shop-btn">
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</section>
{% if messages %}
    <ul>
        {% for message in messages %}
        <script>alert('{{message}}')</script>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}